@import '../../styles/color';

.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background: #f4f0ff;
    border: 1px solid $app-purple;

    footer .user-info span {
      color: $app-dark-gray;
    }
  }

  &.answered {
    background: #DBDCDD;
  }

  p {
    color: $app-dark-gray;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;
      
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
      
      span {
        margin-left: 8px;
        color: $app-medium-gray;
        font-size: 14px;
        font-weight: 500;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;      

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: $app-medium-gray;
        gap: 8px;

        &.liked {
          color: $app-purple;
          
          svg path {
            stroke: $app-purple;
          }
        }
      }

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}

.question.dark {
  background: #27272e;
}

.question.highlighted.dark {
  background: $app-dark-gray;
}

.question.dark p {
  color: $app-light-gray;
}

.question.dark footer .user-info span {
  color: $app-light-gray;
}

.question.dark footer button.like-button {
  color: $app-light-gray;
}